/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.home-logo {
	height: 65px;

}

.second-nav {
	margin-right: 10px;
}

.search-nav {
	vertical-align: top;
}

.search-btn {
	margin-top: 7px;
	margin-left: 15px !important;
}

.cat-search {
	margin-top: 4px;
	margin-left: 15px !important;
	background-color: #311b92 !important; 
}

.text-search {
	margin-left: 15px !important;
}

.flexwrapper {
	
}

.outerflex {

}

.logo-text {
	font-family: 'BioRhyme', serif;
}

.main-nav {
	font-family: 'BioRhyme', serif;
}

.login-message {
	background-color: rgba(144,164,174,0.5);
}
