.new_business {
	margin-left: auto;
	margin-right: auto;
	width: 25em;
}

.page-divider {
	height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    margin-bottom: 50px;
}

.post-divider {
	margin-top: 5px;
	margin-bottom: 1px;
}

.post-header {
	position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 5px 24px;
}

.business-name-show {
	text-shadow: 2px 2px 4px #000000;
}


/*Fonts*/
.primary-font {
	font-family: 'BioRhyme', serif;
}

.heading-font {
	font-family: 'Ubuntu', sans-serif;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);

}

.content-font {

}

/***/

.add-business-btn {
	margin-left: 20px;
	margin-top: 20px
}

.breadcrumb-nav {
	height: 50px !important;
}

.breadcrumb-nav-btn {
	/*height: 10px !important;*/
}

.breadcrumb {
	font-family: 'BioRhyme', serif;
	font-size: 12px;
	background-color: #607d8b;
}

.breadcrumb-nav {
	background-color: #607d8b;
}




